WEBAPP_URL=https://new-feshta.vercel.app
PORT=5034
BOT_TOKEN=8427577528:AAF3z-O84R-oRALh5hiEJnUJWu5x5M-EnP0
DB_HOST=ep-twilight-grass-andoglyb-pooler.c6.us-east-1.aws.neon.tech?options=endpoint%3Dep-twilight-grass-andoglyb-pooler
DB_USER=neondb_owner
DB_PASSWORD=npg_vfh8quZQ0Bcn
DB_NAME=neondb
